extends layout-frontpage

block content
    #app
        .header
            .container-fluid
                .row
                    .col-2
                        img(src="/images/pheno.webp")
                    .col-10

        nav.navbar.navbar-light.bg-light
            .container-fluid
                .d-flex
                    button.btn.btn-outline-success(@click="loginPanel") Log In
                form.d-flex
                    .btn-group
                        button.btn.btn-outline-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                            | About
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href='https://pheno-docs.readthedocs.io/en/latest/', target="_blank") Documentation
                            li
                                a.dropdown-item(href='https://github.com/forestbiotech-lab/PHENO/blob/master/README.md') About us
                    input.form-control.me-2(type='search' placeholder='Search' aria-label='Search' v-model="lookup_data_property" @input="lookupTerm")

        .main
            ul.list-group.lookup-results.card(style="max-height:300px; overflow-y:scroll;")
                li.list-group-item(v-for="result in lookup_result")
                    a.d-flex(:href="devhost_admin+'/'+result.dataPropertyURI.split(\"/\").slice(3).join(\"/\")")
                        .btn.btn-primary.d-flex
                            .align-self-center
                                span.badge.bg-dark Class:
                                strong.text-bg-success &nbsp;{{ result.class.split("#")[1]}}
                        .btn.btn-success.d-flex
                            .align-self-center
                                span.badge.bg-dark Property:
                                strong.text-bg-success &nbsp;{{ result.property.split("#")[1]}}
                        .flex-grow-1.btn.data-value
                            span.badge.bg-dark &nbsp;Value:
                            span.text-success(v-if="lookup_data_property.length>2") &nbsp;{{ result.dataValue.toLowerCase().split(lookup_data_property).join("["+lookup_data_property+"]")}}
                            span.text-success(v-else) &nbsp;No Results

            .container-fluid
                .row
                    .col-8
                        p Welcome to PHENO, a FAIR phenotypic datastore compliant with the&nbsp;
                            a(href="https://www.miappe.org/" target="_blank") MIAPPE
                            | &nbsp;and&nbsp;
                            a(href="https://brapi.org") BrAPI
                            | &nbsp;Standards.
                        svg#graph-ppeo
                        p The graph above shows a summary of the Knowledge graph that is generated. Blue nodes represent classes, the smaller nodes represent data properties and the node are connected by object properties. You can hover with the arrow to view the respective property name.
                        p To submit data, please start by filling a&nbsp;
                            a(href="https://github.com/MIAPPE/MIAPPE/raw/6004c9c2c637a7ce4730caeedb957f7d536ad35d/MIAPPE_Checklist-Data-Model-v1.1/MIAPPE_templates/MIAPPEv1.1_training_spreadsheet.xlsx" target="_blank") MIAPPE template.
                    .col-4
                        .row
                            .col-6(v-for="org in organisms.slice(0,2)")
                                a(:href="devhost_admin+'/admin/'")
                                    .card.species-card.d-flex.align-items-center.justify-content-center(:style="{'background-image': 'url(\"../images/species/'+org.genus+'_'+org.species+'.jpg\")', 'background-size': 'cover','background-repeat': 'no-repeat'}" )
                                        span.p-2 {{org.genus}}  {{org.species}}
                        .row
                            .col-6.col-6(v-for="org in organisms.slice(2,4)")
                                .card.species-card.d-flex.align-items-center.justify-content-center(:style="{'background-image': 'url(\"../images/species/'+org.genus+'_'+org.species+'.jpg\")', 'background-size': 'cover','background-repeat': 'no-repeat'}" )
                                    span.p-2 {{org.genus}}  {{org.species}}
                        .row
                            a(href="/submit").btn.btn-outline-success Submit your data
        .footer
            .container-fluid
                .row
                    .col-4.contacts
                        h5 Contacts:
                        .d-flex.flex-row.ps-4
                            a(href="mailto:brunovasquescosta@gmail.com" subject="More info on PHENO website" target="_blank")
                                span.p-2 !{octicons["mail"].toSVG({ "class": "file","height":'24px' })}
                            a(href="https://github.com/forestbiotech-lab/PHENO" target="_blank")
                                span.p-2 !{octicons["mark-github"].toSVG({ "class": "file","height":'24px' })}
                            a(href="https://pheno-docs.readthedocs.io/en/latest/" target="_blank")
                                span.p-2 !{octicons["file"].toSVG({ "class": "file","height":'24px' })}

                    .col-4.co-funded
                        h5 Co-funded by:
                        .d-flex.flex-wrap
                            .logo.biodata
                            .logo.elixir
                    .col-4.hosted
                        h5 Hosted by:
                        .d-flex.flex-wrap
                            .logo.ist
