extends layout

block content
  .container-fluid
    .row
      .col-8#app
        .card.bg-light
          .card-header
            h5 Upload&nbsp;
              span.badge.bg-warning.running-version=version
          .card-body
            p Upload a&nbsp;
              a(href="https://github.com/MIAPPE/MIAPPE/raw/master/MIAPPE_Checklist-Data-Model-v1.1/MIAPPE_templates/MIAPPEv1.1_training_spreadsheet.xlsx" target="_blank") MIAPPE spreadsheet
              | &nbsp;compliant excel file here. For further details refer to the&nbsp;
              a(href='https://pheno-docs.readthedocs.io/en/latest/', target="_blank") documentation.
            .form-group
              .pocket-progress
              label.visually-hidden(for="augment-file") Upload file
              input(hidden,type="file",id="augment-file",placeholder="tsv file",required="",autofocus="",autocomplete="off",name="uploads[]", accept="mime/*,.tsv,.xlsx,.xls,.ods",study-id=study_id)
            .d-grid.gap-2
              button.btn.btn-success.upload-augment-file(type="button")
                span.glyphicon.glyphicon-floppy-open
                  i.bi-folder2-open  &nbsp; upload file &nbsp;
                  i.bi-file-earmark-excel-fill

            .preview-table#preview-table.d-none
              worksheet-tabs
              .d-grid
                button.btn.btn-success.generate-nt(@click="generateNTs")
                  |Generate N-Triples (NT)&nbsp;
              textarea.generated-ntriples(cols="120",rows="10" style="width:100%;",spellcheck="false").d-none
              .d-grid
                button.btn.btn-primery.save-nt-file(@click="saveNTfile").d-none
                  i.bi-save(role="img" aria-label="Download") &nbsp;Save triples to file
              .d-grid.d-none.upload-graph
                button.btn.btn-primery.upload-graph(@click="uploadGraph")
                  i.bi-save(role="img" aria-label="Download") &nbsp;Upload triples to graph&nbsp;
                svg(xmlns='http://www.w3.org/2000/svg' style='display: none;')
                  symbol#check-circle-fill(fill='currentColor' viewbox='0 0 16 16')
                    path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z')
                  symbol#info-fill(fill='currentColor' viewbox='0 0 16 16')
                    path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z')
                  symbol#exclamation-triangle-fill(fill='currentColor' viewbox='0 0 16 16')
                    path(d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z')
                .alert.alert-success.d-flex.align-items-center(role='alert' v-if='triples.uid')
                  svg.bi.flex-shrink-0.me-2(width='24' height='24' role='img' aria-label='Success:')
                    use(xlink:href='#check-circle-fill')
                  div
                    | Your dataset has been submitted with the id:
                    a#graphUID(:href="`${devhost_admin}/admin/brapi/dataset/status/${triples.uid}`") {{triples.uid}}
                    | &nbsp;you can check the status of your data set on this page.

        #template.d-none
        //Redefine this id
        #mapping.d-none
          #mapping-select
            .card-body(v-if="column != ''")
              simple-select(:label="'type'" :worksheet="worksheet" :column="column" :form-options="formOptions" :selection="selection" :info="info" :graph="graph")
              simple-property-select(:info="info" :label="'name'" :term-type="'Class'" :worksheet="worksheet" :column="column" :form-options="formOptions" :selection="selection" v-if="selection[worksheet][column].type.name === 'class'" :graph="graph")
              simple-property-select(:info="info" :label="'name'" :term-type="'DataProperty'" :worksheet="worksheet" :column="column" :form-options="formOptions" :selection="selection" v-if="selection[worksheet][column].type.name === 'dataProperty'")
              simple-select(:key="formOptions" :selectable="true",:label="'valueType'" :worksheet="worksheet" :column="column" :form-options="formOptions" :selection="selection" :info="info")
              .card(v-bind:input='label = "naming_scheme"')
                .card-header
                  label(v-bind:for="label") {{ getDisplayLabel }}
                    information-tooltip(:info="info" :label="label")
                    button.btn.btn-info(v-on:click="setAutoIncrement()" ) auto increment
                    button.btn.btn-info(v-on:click="setValueAttribute()") cell value
                  p
                    span.badge.bg-secondary Preview:
                    span.preview-naming-scheme(v-html="displayTextWithBadges")
                    div(v-if="selection[worksheet][column].type")
                      div(v-if="selection[worksheet][column].type.name=='class'")
                        span.badge.bg-secondary Previously named:
                        span.badge.bg-primary(@click="setPreviousClassName", title="Click to add this name")  {{ getClassName }}
                .card-body
                  .form-group
                    input.form-control(:id="label" type="text" placeholder="How the node will be called!" title="How to call the individual generated by this" v_bind:name="label" v-model="selection[worksheet][column].naming_scheme")
                    .form-group
                      //TODO this isn't properly formatted
                      label(for="refSelector") Reference a Column
                        information-tooltip(:info="info" label="refSelector")
                      v-select#refSelector(:options="namedIndividuals",:placeholder="'Optional'",@input="setReferenceAttribute")
                  .form-group(v-if="typeof selection[worksheet][column].type == 'object' && typeof selection[worksheet][column].valueType == 'object' && selection[worksheet][column].naming_scheme.length !== 0" )
                    p This is complete
              .card(v-if="selection[worksheet][column].type.name === 'class'")
                .card-header
                  h4 Properties
                .card-body.objectProperties
                  .d-grid
                    button.btn.btn-secondary(v-on:click="addPropertyForm('objectProperties')") Add Object Properties
                  .o-properties-wrapper
                    .card
                      .card-body(v-for="objectPropertyForm in selection[worksheet][column].objectProperties")
                        .visibility-wrapper(v-if=" objectPropertyForm.show == true ")
                          property-select(:label="'objectProperty (all)'" :term-type="'ObjectProperty'" :property-type="'objectProperties'" :selection="selection" :form-options="formOptions" :worksheet="worksheet" :column="column" :data-property-form="objectPropertyForm" :info="info" :info-label="'object-property-selection'")
                          property-select(:label="'objectProperty (inferred)'"  :term-type="'objectPropertyInferred'" :property-type="'objectProperties'" :selection="selection" :form-options="formOptions" :worksheet="worksheet" :column="column" :data-property-form="objectPropertyForm" :info="info" :info-label="'object-property-selection-inferred'")
                          .form-group
                            label Individuals
                            //TODO selectable for classes only make a new method in component
                            v-select(:options="namedIndividuals",:selectable="disableDataProperties",v-model="selection[worksheet][column].objectProperties[objectPropertyForm.id].referenceNode" @input="updateGraphModel(objectPropertyForm)")
                              template(v-slot:option="option")
                                | {{ option.label }} &nbsp;
                                span.badge.bg-primary(v-if="selection[worksheet][option.label].type.label") {{ selection[worksheet][option.label].type.label }}
                                span.badge.bg-success(v-if="selection[worksheet][option.label].name.label") {{ selection[worksheet][option.label].name.label }}
                          .d-grid
                            button.btn.btn-danger(v-on:click="removeProperty(objectPropertyForm.id,'objectProperties')") remove property

                .card-body.dataProperties
                  .d-grid
                    button.btn.btn-secondary(v-on:click="addPropertyForm('dataProperties')") Add data Properties
                  .d-properties-wrapper
                  //TODO check if necessary or if should be nested
                  #mapping-properties.d-none
                  .card
                    .card-body(v-for="dataPropertyForm in selection[worksheet][column].dataProperties")
                      .visibility-wrapper(v-if=" dataPropertyForm.show == true ")
                        .form-group
                          label Properties
                            information-tooltip(:info="info" label="data-property-selection")
                          v-select(:options="namedIndividuals",:selectable="disableClasses",v-model="selection[worksheet][column].dataProperties[dataPropertyForm.id].referenceNode" @input="updateGraphModel(dataPropertyForm);updateDataProperty(dataPropertyForm)")
                            template(v-slot:option="option")
                              | {{ option.label }} &nbsp;
                              span.badge.bg-primary(v-if="selection[worksheet][option.label].type.label") {{ selection[worksheet][option.label].type.label }}
                              span.badge.bg-success(v-if="selection[worksheet][option.label].name.label") {{ selection[worksheet][option.label].name.label }}
                        .d-grid
                          button.btn.btn-danger(v-on:click="removeProperty(dataPropertyForm.id,'dataProperties')") remove property

        #mapping-templates.d-none
          #worksheets
            #worksheets-wrapper(style="position:relative;")
              ul#myTab.nav.nav-tabs(role='tablist')
                li.nav-item(v-for='worksheet in sheets' role='presentation')
                  a.nav-link(v-bind:key='worksheet.name' v-on:click=' currentTab = worksheet.name;resetColumnSelection() ' v-bind:id='worksheet.id' v-bind:class='{ active: worksheet.name === currentTab }' role='tab' data-toggle='tab')
                    | {{ worksheet.name }}&nbsp;
                    span.badge(v-bind:class="{ 'bg-success': completeness[worksheet.name].complete === completeness[worksheet.name].total, 'bg-danger': completeness[worksheet.name].complete !== completeness[worksheet.name].total  }") {{completeness[worksheet.name].complete}}/{{completeness[worksheet.name].total}}
              //Redefine this id
              mapping-worksheet#mapping(:worksheet='currentWorkSheet' :completeness='completeness' :info="info")
              .scroll(style='overflow-x:scroll')
                .dummy(style='width:1000px;height:20px')
              .table-div(style='overflow-x:scroll;overflow-y:scroll;height:500px;')
                #grid.grid
                  component(v-bind:is='currentTabComponent')
                  .alert.alert-info(role='alert' style='position:absolute;bottom:0px;left:21px;width:91%')
                    | Only loaded first 50 lines into this preview!
          #template-property-select
            .form-group
              label(v-bind:for='label') {{ getDisplayLabel }}
                information-tooltip(:info="info" :label="infoLabel")
              v-select(@open="queryInferredProperties",@input="loadInferredDestinationClass",:options="formOptions['name'][termType]" v-bind:id="label" v-model="selection[worksheet][column][propertyType][dataPropertyForm.id].property")
          #template-simple-property-select
            .form-group
              label(v-bind:for="label") {{ getDisplayLabel }}
                information-tooltip(:info="info" :label="label")
              v-select(@close="queryInferredProperties",:options='formOptions[label][termType]' v-bind:id="label", v-model="selection[worksheet][column][label]"  @input="updateGraphModel")
          #template-simple-select
            .form-group
              label(v-bind:for="label") {{ getDisplayLabel }}
                information-tooltip(:label="label" :info="info")
              v-select.selectable(v-if="selectable==true",:selectable="selectValidAttributes",:options='formOptions[label]' v-bind:id="label", v-model="selection[worksheet][column][label]" @input="updateGraphModel")
              v-select.nonselectable(v-if="selectable==false",:options='formOptions[label]' v-bind:id="label", v-model="selection[worksheet][column][label]" @input="updateGraphModel")
          #template-information-tooltip
            span.d-inline-block(tabindex='0' data-toggle='tooltip' v-bind:title='info[label]') &nbsp;
              button.btn.btn-secondary.btn-sm(style='pointer-events: none;' type='button' disabled='')
                i.bi-info(role="img" aria-label="Information")
          #template-load-previous-selection
            .form-group
              p Do you wish to load your previous selection for this file?
              button.btn.btn-success.btn-sm#yes(v-on:click="yes") yes
              button.btn.btn-danger.btn-sm#no(v-on:click="no") no
      .col-4
        .card.bg-light.menu
          .card-header#validation-results
            h5 Input validation
            .row.validation.success.validation-success.d-none
              .col-12
                p.d-flex.gap-1
                  .d-grid
                    button.btn.btn-secondary(data-bs-toggle='collapse' href='#collapseSuccessValidator' role='button' aria-expanded='false' aria-controls='collapseSuccessValidator')
                      span.mt-1.float-start.badge.bg-success.position-relative(type='button')
                        i.bi-check-circle(role="img")
                        span.success-counter.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-warning
                          | 0
                          span.visually-hidden unread messages
                      span.float-start
                        | &nbsp;&nbsp;&nbsp; Success
                #collapseSuccessValidator.collapse
                  .card.card-body
                    ul.list-group.validation-item-success
            .row.validation.warn.validation-warn.d-none
              .col-12
                p.d-flex.gap-1
                  .d-grid
                    button.btn.btn-secondary(data-bs-toggle='collapse' href='#collapseWarningValidator' role='button' aria-expanded='false' aria-controls='collapseWarningValidator')
                      span.mt-1.float-start.badge.bg-warning.position-relative(type='button')
                        i.bi-exclamation-circle(role="img")
                        span.warn-counter.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-warning
                          | 0
                          span.visually-hidden unread messages
                      span.float-start
                        | &nbsp;&nbsp;&nbsp; Warning
                #collapseWarningValidator.collapse
                  .card.card-body
                    ul.list-group.validation-item-warn
            .row.validation.fail.validation-fail.d-none
              .col-12
                p.d-flex.gap-1
                  .d-grid
                    button.btn.btn-secondary(data-bs-toggle='collapse' href='#collapseFailValidator' role='button' aria-expanded='false' aria-controls='collapseFailValidator')
                      span.mt-1.float-start.badge.bg-danger.position-relative(type='button')
                        i.bi-x-circle(role="img")
                        span.fail-counter.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-warning
                          | 0
                          span.visually-hidden unread messages
                      span.float-start
                        | &nbsp;&nbsp;&nbsp; FAIL
                #collapseFailValidator.collapse
                  .card.card-body
                    ul.list-group.validation-item-fail
          .card-header
            h5 BrAPI call editor
          .card-body
            .d-grid.gap-2
              a.btn.btn-success(href="/admin/brapi") Admin BrAPI
              a.btn.btn-success(href="/admin/brapi/listmodules") List Modules
        .card.bg-light.graph-demo
          .card-header
            h5 Graph demo
          .card-body
            svg#graph-demo
        .card.bg-light.graph-overview
          .card-header
            //TODO update for all
            h5 Graph overview (on load json only)
          .card-body
            svg#graph-overview
        .card.bg-light.activeClasses#active-classes
          .card-header
            h5 List of active classes
          .card-body.d-none
            ul.list-group
              li.list-group-item(v-for="worksheet of Object.keys(selection)")
                h5 {{ worksheet }}
                div(v-for="(column,columnName) in selection[worksheet]")
                  div(v-if='column.type',:id="worksheet")
                    div(v-if='column.type.name=="class"',:id="worksheet+'-'+column.name.name")
                      span.btn.btn-danger.badge(@click="removeClass(worksheet,columnName,column)",title="Remove class and all object properties pointing to it.") X
                      span.badge.bg-secondary {{ column.name.label }}:
                      span.badge.bg-primary {{ column.naming_scheme }}
        .card.bg-light.ontology-terms
          .card-header
            h5 Rdf Syntax Type
          .card-body#accordion-rdf-type
            .spinner-border(role='status')
            span.align-self-center &nbsp;Loading terms...
