body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
span.preview-naming-scheme span.value {
  /* IE 6+, Opera 11+, Chrome 1+, Safari 1.3+, Firefox 7+ */
  text-overflow: clip;
  /* width: 80px; */
  /* IE 8    */
  -ms-text-overflow: ellipsis;
  /* Opera 9 */
  -o-text-overflow: ellipsis;
}

