extends ../layout
block content
  script(src="/javascripts/callEditor.js" async defer)
  include menu
  h2=callName
  .d-grid.pb-5
    a.btn.btn-danger.btn-block(href="result") Call Result
    a.btn.btn-danger.btn-block(href="gui") Call Result GUI
  if json.result.data[0]
    div#mapping(anchor=anchor)
      .position-relative
        .spinner-grow.position-absolute.translate-middle.start-50(role="status")
          span.visually-hidden Loading...
      table.table(v-if="callStructure.result").d-none
        tr(v-for="attribute in Object.keys(callStructure.result.data[0])",:key="attribute")
          td.pt-3(:class="classType(attribute)",:attribute="attribute")
            p.d-grid
              button.btn(:class="buttonType(attribute)",:attribute="attribute",type='button' data-bs-toggle='collapse' :data-bs-target="'#'+attribute" aria-expanded='false' :aria-controls="attribute") {{ attribute }}&nbsp;
                span.badge.bg-success(v-if="valueType(attribute)=='direct'")
                  | {{ callStructure.result.data[0][attribute] }}
                span.badge.bg-success(v-if="valueType(attribute)=='object'")
                  | object
                span.badge.bg-success(v-if="valueType(attribute)=='array'")
                  | array
                span.badge.bg-success(v-if="valueType(attribute)=='directProcessed'")
                  | {{ callStructure.result.data[0][attribute]._value }}
            .collapse.card.mx-2.px-2.pt-3(:id="attribute",v-if="valueType(attribute)=='direct'")
              layer(:layer="0",:call-structure="callStructure",:data-properties="dataProperties",:object-properties="objectProperties",:attribute="attribute")
            .collapse.card.mx-2.px-2.pt-3(:id="attribute",v-if="valueType(attribute)=='object'")
              subitem-object(v-for="subItem in Object.keys(callStructure.result.data[0][attribute])",:key="subItem",:sub-item="subItem",:data-properties="dataProperties",:object-properties="objectProperties",:attribute="attribute",:sub-type="'object'",:call-structure="callStructure" )
            .collapse.card.mx-2.px-2.pt-3(:id="attribute",v-if="valueType(attribute)=='array'")
              subitem-object(v-for="subItem in Object.keys(callStructure.result.data[0][attribute][0])",:key="subItem",:sub-item="subItem",:attribute="attribute",:sub-type="'array'",:data-properties="dataProperties",:object-properties="objectProperties",:call-structure="callStructure")
            .collapse.card.mx-2.px-2.pt-3(:id="attribute",v-if="valueType(attribute)=='directProcessed'")
              layer(v-for=`(layer,index) in callStructure.result.data[0][attribute]._sparQL`,:key="attribute",:layer="index",:call-structure="callStructure",:data-properties="dataProperties",:object-properties="objectProperties",:attribute="attribute")
  else
    .alert.alert-warning.d-flex.justify-content-center(role="alert")
      p.fs-3 No data found!
  div !{html}
    //each moduleValue in modules
      //tr
       // td
       //   a(href="listcalls/"+moduleValue+"/list")=moduleValue

